<h3>ទម្លាប់</h3>

<p>
    ដូច​ទៅ​នឹង​ភាសា​ដទៃ​ទៀត​ដែរ JavaScript មាន​ស្ទីល​សរសេរ​កូដ​ច្រើន​ដែល​ត្រូវ​បាន​គេ​ណែនាំ។ ប្រហែល​ជា​ស្ទីល​ដែល​គេ​បាន​ប្រើ​និង​ណែនាំ​ច្រើន​បំផុត​នោះ​គឺ <a target="_blank" href="http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml">Google Code Style Guide for JavaScript</a>, ប៉ុន្តែ​យើង​សូម​ណែនាំ​អ្នក​ឲ្យ​អាន <a target="_blank" href="https://github.com/rwldrn/idiomatic.js/">Idiomatic.js</a>។
</p>

<h3>លីនធីង (ការ​ត្រួត​ពិនិត្យ​កូដ)</h3>

<p>
    សព្វ​ថ្ងៃ​នេះ ប្រដាប់​ត្រួត​ពិនិត្យ​កូដ JavaScript ដែល​គេ​ពេញ​និយម​គឺ <a target="_blank" href="http://www.jshint.com/">JSHint</a>។ យើង​សូម​ណែនាំ​ឲ្យ​អ្នក​ពិនិត្យ​គំរូ​និង​ស្ទីល​កូដ​រាល់​ពេល ដោយ​ប្រើប្រាស់​ប្រដាប់​ពិនិត្យ​ណាមួយ។
</p>
