<h3>អំពី JavaScript</h3>

<p>
    Netscape បាន​បង្កើត​វា​ឡើង​នៅ​ឆ្នាំ​១៩៩៥ ជា​ផ្នែក​បន្ថែម​នៃ HTML សម្រាប់​កម្មវិធី Netscape Navigator 2.0 ដែល JavaScript មាន​មុខងារ​ចម្បង​គឺ​កែ​សម្រួល​ឯកសារ HTML និង​ផ្ទៀងផ្ទាត់​ភាព​ត្រឹមត្រូវ​នៃ​ការ​បំពេញ​បែបបទ។

    មុន​ពេល​ដែល​ឈ្មោះ​នេះ​ល្បី​រន្ទឺ​ដូច​សព្វថ្ងៃ, JavaScript ពី​ដំបូង​មាន​ឈ្មោះ​ថា Mocha។  នៅ​ពេល​គេ​ដាក់​បញ្ចូល​ដំបូង​នៅ​ក្នុង​កំណែ​បែតា វា​ត្រូវ​បាន​គេ​ហៅ​ថា LiveScript រហូត​ដល់​ពេល​ដែល​ក្រុមហ៊ុន Sun Microsystems បាន​ដាក់​បញ្ចេញ​វា គេ​ក៏​ឲ្យ​ឈ្មោះ​វា​ថា JavaScript រហូត​ដល់​សព្វថ្ងៃ។

    មនុស្ស​ជា​ច្រើន​តែងតែង​យល់​ច្រឡំ​រវាង JavaScript និង Java ព្រោះ​ថា​វា​មាន​ឈ្មោះ​ស្រដៀង​គ្នា។ បើ​ទោះបីជា​ពួកវា​ទាំង​ពីរ​មាន​វាក្យសព្ទ (ទម្រង់​សរសេរ) ទាក់ទង​គ្នា​យ៉ាងណា​ក្ដី ក៏​ពួក​វា​មិន​មែន​ជា​ភាសា​តែ​មួយ​ដែរ។

    JavaScript ខុស​ប្លែក​ពី C, C# និង Java ត្រង់​ថា វា​គឺ​ជា​ភាសា​អ៊ីនធឺប្រិត (interpreted language)។ នេះ​មាន​ន័យ​ថា​វា​ត្រូវការ "អ៊ីនធឺប្រិទ័រ" មួយ ដែល​អ៊ីនធឺប្រិទ័រ​នោះ​គឺ​ជា​កម្មវិធី​ប្រោស័រ។
</p>

<h3>កំណែ​បច្ចុប្បន្ន</h3>

<p>
    កំណែ​ស្តង់ដា​របស់ JavaScript គឺ ECMAScript។ នៅ​ឆ្នាំ​២០១២ រាល់​កម្មវិធី​ប្រោស័រ​ទំនើបៗ​ទាំងអស់​ស្គាល់ ECMAScript 5.1 ពេញលេញ​អស់​ហើយ។ ចំណែក​កម្មវិធី​ប្រោស័រ​ចាស់ៗ​វិញ ស្គាល់​បាន​ត្រឹម ECMAScript 3 ប៉ុណ្ណោះ។ នៅ​ពេល​បច្ចុប្បន្ន​នេះ គេ​កំពុង​ធ្វើការ​ទៅ​លើ​កំណែ​ស្តង់ដា​ចម្បង​ទី៦។
</p>

<p>
    ឯកសារ​ពិគ្រោះ​ដ៏​ល្អ​មួយ​ដែល​ស្ដី​អំពី JavaScript មាន​នៅ​វេបសាយ <a target="_blank" href="https://developer.mozilla.org/en-US/docs/JavaScript">Mozilla Developer Network</a>។
</p>

<h3>អំពី DOM</h3>

<p>
    Document Object Model (DOM) គឺ​ជា API មួយ​សម្រាប់​ឯកសារ HTML និង XML។ វា​ផ្ដល់​ការ​បង្ហាញ​ឯកសារ​ទាំងនោះ​ទៅ​តាម​រចនសម្ព័ន្ធ ហើយ​និង​អនុញ្ញាត​ឲ្យ​អ្នក​អាច​កែប្រែ​មាតិកា​ទាំង​ឡាយ​ដែល​មាន​នៅ​ក្នុង​នោះ តាមរយៈ​ភាសា​ស្គ្រីប​ផ្សេងៗ ដូចជា JavaScript ជាដើម។ មើល​បន្ថែម​នៅ <a target="_blank" href="https://developer.mozilla.org/en-US/docs/DOM">Mozilla Developer Network - DOM</a>។
</p>
