<h1>សួស្ដី!</h1>

<p>
    នេះ​ជា​ទំព័រ​មួយ​ដែល​មាន​បំណង​ណែនាំ​ដល់​អ្នក​អភិវឌ្ឍ​ថ្មីៗ​ឲ្យ​ស្គាល់ JavaScript និង​ជួយ​អ្នក​ដែល​មាន​បទពិសោធន៍​ស្រាប់​បាន​សិក្សា​បន្ថែម​អំពី​គន្លឹះ​អនុវត្តន៍​ល្អៗ​របស់​វា។
</p>

<p>
    បើ​ទោះបីជា​ឈ្មោះ​ថា "ផ្លូវត្រឹមត្រូវ" ក៏ដោយ ក៏​មិនមែន​មាន​ន័យ​ថា​នេះ​ជា​ផ្លូវ​តែ​មួយ​គត់​សម្រាប់​សរសេរ JavaScript ដែរ។
</p>

<p>
    ពួក​យើង​គ្រាន់​តែ​ប្រមូលផ្ដុំ​អត្ថបទ គន្លឹះ និង​ការ​អនុវត្ត​ទាំងឡាយ ពី​អ្នក​អភិវឌ្ឍ​កំពូលៗ ហើយ​ដាក់​វា​នៅ​ទី​នេះ។ ដោយ​សារ​អ្វីៗ​ទាំងនេះ​ត្រូវ​បាន​យក​មក​ពី​មនុស្ស​ពិសេសៗ​ជា​ច្រើន យើង​អាច​និយាយ​បាន​ថា​វា​ជា​ផ្លូវ​ត្រឹមត្រូវ ឬ​ជា​ផ្លូវ​ប្រសើរ ក៏​ថា​បាន។
</p>
